body{
    background-color: rgb(255, 243, 228);
}

#p1 {
    background-color: rgb(255, 249, 244);
    font-family: "Mitr";
}

#a1 {
    font-family: "Mitr";
}

.font-center-header {
    color: rgb(150, 28, 0);
    text-align: center;
    font-style: normal;
    font-size: xx-large;
}

.font-center{
    color: rgb(200, 37, 0);
    text-align: center;
    font-style: normal;
    font-size: x-large;
}

.font-center-th{
    color: rgb(200, 37, 0);
    text-align: center;
    font-style: normal;
    font-size: large;
}

.subcenter{
    color: rgb(150, 28, 0);
    text-align: center;
    font-style: normal;
    font-size: x-large;
}

.font-contact{
    color: rgb(0, 0, 0);
    text-align: left;
    font-style: normal;
    font-size: large;
}

.font{
    color: rgb(0, 0, 0);
    text-align:start;
    font-style: normal;
    font-size: medium;
}

.border_black {
    border: solid rgb(120, 26, 0);
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.border {
    border: solid rgb(120, 26, 0);
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.borderrr {
    position: relative;
    background: #ffb7a4;
    box-shadow: 0px 0px 0px 5px #ffb692;
    border: dashed 2px #fff;
    padding: 1px 3px;
    color: #454545;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.borderrr:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #ffc0ae;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

